<!-- templates/escola/cursos.html -->    

{% extends "portfolio/base.html" %}
    
{% block content %}
<h2>Competências</h2>
{% if request.user.is_authenticated and gestor %}
<a href="{%url 'criar_competencia' %}"><button>Criar competência</button></a>
{% endif %}
<section>
    {% for competencia in competencias %}
    <article>
        <header>
            <h3>{{ competencia.nome }} - {{ competencia.get_tipo_display }}</h3>
            <h4>Nivel: {{ competencia.get_nivel_display }}</h4>
            <h3>Descrição</h3>
            <p>{{ competencia.descricao }}</p>
        </header>
        {% if request.user.is_authenticated and gestor %}
        <a href="{% url 'editar_competencia' competencia.id %}"><button>Editar</button></a>
        <a href="{% url 'apagar_competencia' competencia.id %}"><button>Apagar</button></a>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}