<!-- templates/escola/cursos.html -->    

{% extends "portfolio/base.html" %}
    
{% block content %}
<h2>Formações</h2>
{% if request.user.is_authenticated and gestor %}
<a href="{% url 'criar_formacao' %}"><button>Criar Formação</button></a>
{% endif %}
<section>
    {% for formacao in formacoes %}
    <article>
        <header>
            <h3>{{ formacao.titulo }} - {{ formacao.get_tipo_display }}</h3>
            <h4>Instituição: {{ formacao.instituicao }}</h4>
            <h4>{{ formacao.data_inicio }} - {{ formacao.data_fim}}</h4>
            <h3>Descrição</h3>
            <p>{{ formacao.descricao }}</p>
        </header>
        {% if request.user.is_authenticated and gestor %}
        <a href="{% url 'editar_formacao' formacao.id %}"><button>Editar</button></a>
        <a href="{% url 'apagar_formacao' formacao.id %}"><button>Apagar</button></a>
        {% endif %}
    </article>
    {% empty %}

    <h3>Sem formações atualmente</h3>

    {% endfor %}
</section>
{% endblock %}