{% extends "portfolio/base.html" %}

{% block content %}

<selection>
    <article>
        <header>
            <p>{{ artigo.texto }}</p>
            {% if artigo.imagem %}
            <img src="{{ artigo.imagem.url }}" alt="imagem_artigo_{{ artigo.id }}">
            {% endif %}
            {% if artigo.link_externo %}
            <a href="{{ artigo.link_externo }}">Link externo</a>
            {% endif %}
            <p>- {{ artigo.autor.username }}</p>
            <p>Criado a {{ artigo.data_criacao|date:"d/m/Y" }} ás {{ artigo.data_criacao|date:"H:i" }} horas.</p>
            <p><a href="{% url 'like_artigo' artigo.id %}"><button>👍</button></a>{{ artigo.total_likes }}</p>
        </header>
        {% if request.user.is_authenticated and autor %}
        <a href="{% url 'editar_artigo' artigo.id %}"><button>Editar</button></a>
        <a href="{% url 'apagar_artigo' artigo.id %}"><button>Apagar</button></a>
        {% endif %}
    </article>

    <form action="{% url 'comentar' artigo.id %}" method="post">
        {% csrf_token %}
        <textarea name="texto" placeholder="Digite seu comentário..."></textarea>
        <button type="submit">Comentar</button>
    </form>
    
    <ul>
        {% for comentario in artigo.comentarios.all %}
        <li>
            <p>{{ comentario.texto }}</p>
            <p>- {{ comentario.autor.username }}</p>
        </li>
        {% endfor %}
    </ul>
</selection>

{% endblock %}